<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Task</title>
</head>
    <body>

        <h1>Epic Task</h1>

        <h2>Nova Tarefa</h2>


        <form action="/task" method="post" th:object="${task}">
            <div>
                <label for="title">Título</label> <br>
                <input id="title" name="title" th:field="*{title}">
                <span th:errors="*{title}"></span>
            </div>

            <div>
                <label for="description">Descrição</label> <br>
                <textarea id="description" name="description"
                          rows="" cols=""  th:field="*{description}"></textarea>
                <span th:errors="*{description}"></span>
            </div>

            <div>
                <label for="points">Pontos</label> <br>
                <input type="range" name="points" id="points" min=10 max=500  th:field="*{points}">
                <span th:errors="*{points}"></span>
            </div>
            <br>

            <a href="/task">Cancelar</a>
            <button>Salvar</button>
        </form>

    </body>
</html>